@font-face {font-family: 'JF Flat';src: url('../fonts/JF_Flat_regular.ttf');}
body{font-family:'JF Flat';font-size:1.2rem;}
.clear{clear:both;}
nav.hnav{background:#424242;}
nav.hnav a{color:#fff;}
nav.hnav a:hover{color:#81D4FA;}
.hpcontent, .hpcontent .rsltat{margin-top:30px;}
.hpcontent a.addbtn{background:#00BFA5;}
.hpcontent .input-field a.addbtn{width:100%;}
.hpcontent a.addbtn:hover{background:#fff;color:#00BFA5;}
.hpcontent .rsltat{background:#E8F5E9;padding: 20px 5px;}
.hpcontent .rsltat .row{margin:0;}
.hpcontent .rsltat .textr{text-align:right;font-size:2rem;}
.hpcontent .rsltat .textc{color:#00BFA5;font-weight:bold;}
.hpcontent .rsltat .textc{color:#00BFA5;font-weight:bold;}
.hpcontent table thead tr th, .hpcontent table tbody tr td{text-align:center;font-size:1.4rem;}
.hpcontent table a{color:#424242;}
.hpcontent table tbody tr td a.bgcolor{background:#E8F5E9;color:#00BFA5;font-size:2.5rem;}
.hpcontent table tbody tr td a.gcolor{background:#00BFA5;color:#E8F5E9;font-size:2.5rem;}
.hpcontent table tbody.ed tr td a, .hpcontent .personed a{font-size:1.2rem;}
.hpcontent table tbody.ed tr td a:hover{font-size:1.4rem;color:#00BFA5;}
.hpcontent .personed{text-align:right;}
.hpcontent .personed a{color:#424242;}
.hpcontent .personed a:hover{color:#00BFA5;}